@model List<Project.Models.Courses>
    @using Project.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerCourse</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/navbar.css" rel="stylesheet" />
    <style>
        body {
            background: url("../images/login-img.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: grey;
        }
    </style>

</head>
<body>
    <div>
        <div class="navbar">
            <a href="/Account/LecturerHomePage" class="Button">Home</a>
            <a href="/Lecturer/LecturerSchedule" class="Button">Schedule</a>
            <div class="dropdown">
                <button class="dropbtn">
                    More
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Lecturer/LecturerExams" class="Button">Exams</a>
                    <a href="/Lecturer/LecturerCourse" class="Button">Course</a>
                </div>

            </div>
            <div class="nav navbar-nav navbar-right">
                <a href="/Account/Login" class="navbar-brand"><strong>Logout</strong></a>
            </div>
        </div>
        @{
            string samename = "";
        }
        <center>
            <h1 style="color:white">Schedule details</h1>
            <table id="customers">
                <tr style="color:white">
                    <th>Day</th>
                    <th>Hour</th>
                    <th>Course</th>
                </tr>
                <strong style="color:white">
                    Hey @Session["Username"], This is your schedule.
                </strong>
                <tr>
                    @foreach (LectureCourses course in ViewBag.coursesinfo)
                    {
                        if (samename != course.Coursename)
                        {
                        <tr style="color:white">
                            <td>@course.Day</td>
                            <td>@course.StartHour - @course.EndHour</td>
                            <td>@course.Coursename</td>


                        </tr>
                        samename = course.Coursename;
                    }
                }
                </table>

            </center>

        </div>

    </body>
</html>