@model List<Project.Models.Courses>
@using Project.Models;
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentCourse</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/For tables.css" rel="stylesheet" />
    <link href="~/styles/navbar.css" rel="stylesheet" />
    <style>
        body {
            background: url("../images/login-img.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: grey;
        }
    </style>
</head>
<body>
    <div>
        <div class="navbar">
            <a href="/Account/StudentHomePage" class="Button">Home</a>
            <a href="/Student/StudentSchedule" class="Button">Schedule</a>
            <div class="dropdown">
                <button class="dropbtn">
                    More
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Student/StudentExams" class="Button">Exams</a>
                    <a href="/Student/StudentCourse" class="Button">Course</a>

                </div>

            </div>
            <div class="nav navbar-nav navbar-right">
                <a href="/Account/Login" class="navbar-brand"><strong>Logout</strong></a>
            </div>
        </div>
@{ 
    string samename = "";
}
        <center>
            <h1 style="color:white">Schedule details</h1>
            <table id="Courses">
                <tr style="color:white">

                    <th>Lecturer</th>
                    <th>Course</th>
                    <th>Hour</th>
                    <th>Day</th>
                </tr>
                <tr>
                    @foreach (Student_Schedule_Course_Exam course in ViewBag.schedules)
                    {
                        if(samename != course.CourseName)
                        { 
                    <tr style="color:white">
                        <td>@course.LecName @course.LecLastName</td>
                        <td>@course.CourseName</td>
                        <td>@course.StartHour - @course.EndHour</td>
                        <td>@course.Day</td>
                    </tr>
                            samename = course.CourseName;
                        }
                    }

                    <tr>

                </table>
            </center>

        </div>

    </body>
</html>